.promo {
  background: url("../../img/bg/main-section_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 1.2rem 3.5rem;
  color: $white;
}

.promo__container {
  height: 100%;
  margin-top: 6em;
  @include flexColumn;
}

.promo__order {
  @include flexColumn;
  width: 50%;
  position: relative;
  margin-bottom: 3.5rem;
}

.promo__title {
  @include alegreya(bold);
  font-size: 3rem;
  color: $white;
  text-align: left;
  margin-bottom: 0.15em;
}

.promo__desc {
  @include alegreya();
  font-size: 1.1rem;
  line-height: 1.1em;
  max-width: 17em;
  margin-bottom: 1.5rem;
}

.promo__advantages {
  position: relative;
  max-width: 26rem;
}

.advantages__list {
  display: flex;
}

.advantages__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 2.4rem;
}

.advantages__icon {
  max-width: 50px;
  max-height: 50px;
}

.advantages__desc {
  max-width: 4rem;
  margin-left: 0.5rem;
  line-height: 0.9rem;
}

.promo-bars-pic {
  display: block;
  position: absolute;
  transform: translate(-50%, -0%);
  left: 51%;
  max-width: 95%;
  max-height: 102%;
  // margin-top: 0.5em;
}
