.promo {
  background-color: #61c4d9;
  background-image: url("../../img/bg/main-section_bg.png");
  background-repeat: no-repeat;
  background-size: 79vh;
  background-position: bottom right -15px;
  color: $white;
  z-index: 0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../../img/content/main-section_leaf.png);
    background-repeat: no-repeat;
    background-position: bottom left 3%;
    background-size: 60px;
    transform: translate(0, 50px);
    z-index: 1;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../../img/content/main-section_blackberries.png),
      url(../../img/content/main-section_bottom-leafage.png);
    background-repeat: no-repeat;
    background-position: bottom right 7%, bottom 23px right 29%;
    background-size: 115px, 135px;
    transform: translate(0, 50px);
    z-index: 1;
  }

  &__main-content {
    margin-top: 5.6rem;
    margin-left: 2rem;
    z-index: 20;

    @include tablets {
      margin: 0;
    }
  }

  &__main-image {
    transform: translate(20px, 0);
    max-width: 100%;

    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url(../../img/content/main-section_berries.png),
        url(../../img/content/main-section_right-leafage.png);
      background-repeat: no-repeat;
      background-position: bottom left 53px, bottom 17% right -8px;
      background-size: 45%, 45%;
      transform: translate(0, 30px);
      z-index: 10;
    }

    @include tablets {
      margin-top: 10%;
    }
  }
}

.promo__container {
  height: 100%;
  margin-top: -0.5rem;
  display: flex;
  align-items: center;

  @include tablets {
    flex-direction: column-reverse;
  }
}

.promo__order {
  @include flexColumn;
  margin-bottom: 3.5rem;

  @include tablets {
    align-items: center;
    width: 60%;
    margin: 0 auto;
  }
}

.promo__title {
  @include alegreya(bold);
  font-size: 3rem;
  color: $white;
  text-align: left;
  margin-bottom: 0.15em;

  @include tablets {
    text-align: center;
  }
}

.promo__desc {
  @include alegreya();
  font-size: 1.1rem;
  line-height: 1.1em;
  max-width: 17em;
  margin-bottom: 1.5rem;
}

.promo__advantages {
  position: relative;
  max-width: 26rem;

  @include tablets {
    margin: 0 auto;
  }
}

.advantages__list {
  display: flex;
}

.advantages__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 2.9rem;

  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.advantages__icon {
  max-width: 44px;
  max-height: 44px;
}

.advantages__desc {
  width: 65px;
  margin-left: 0.5rem;
  line-height: 0.9rem;
}

.promo-bars-pic {
  display: block;
  position: absolute;
  transform: translate(-50%, -0%);
  left: 51%;
  max-width: 95%;
  max-height: 102%;
}
