.reviews__container {
  padding-top: 3.1rem;

  .title {
    margin-bottom: 1.8rem;
  }
}

.reviews__main {
  @include flexColumn;
  align-items: center;
}

.reviews__author {
  display: flex;
  max-width: 940px;
  padding: 50px 170px 35px 50px;
  background-color: $light-gray;
  z-index: -9;
  background-image: url(../../img/bg/reviews_background.png);
  background-repeat: no-repeat;
  background-position: right top;
  margin-bottom: 1rem;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: $white;
    transform: translate(420%, -120%);
    z-index: -10;
  }
}

.reviews__photo {
  max-width: 253px;
  max-height: 259px;
}

.reviews__desc {
  padding-left: 0.8rem;
  padding-top: 0.4rem;

  &-title {
    @include alegreya(medium);
    font-size: 1.5rem;
    margin-bottom: 0.9rem;
  }

  p {
    @include alegreya();
    font-size: 0.9rem;
    line-height: 1.1rem;
    margin-bottom: 1.2rem;
  }

  &-author-name {
    @include alegreya(medium);
    font-size: 0.9rem;
  }
}

.reviews__author-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 12rem;
}

.reviews__author-switch-item {
  .reviews__author-switch-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  &--active {
    .reviews__author-switch-pic {
      width: 70px + 10px;
      height: 70px + 10px;
      border-radius: 50%;
      border-color: $green;
      border-style: solid;
      border-width: 5px;
    }
  }
}
